pipeline/Bulk insert.json
{
	"name": "Bulk insert",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@pipeline().parameters.Query",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Dynamic_SqlTable",
						"type": "DatasetReference",
						"parameters": {
							"Domain": {
								"value": "@pipeline().parameters.Domain",
								"type": "Expression"
							},
							"Database": {
								"value": "@pipeline().parameters.Database",
								"type": "Expression"
							},
							"Username": {
								"value": "@pipeline().parameters.username",
								"type": "Expression"
							},
							"Password": {
								"value": "@pipeline().parameters.Password",
								"type": "Expression"
							},
							"TableName": "Table"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "select * from '@item().TABLE_NAME'",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Dynamic_SqlTable",
									"type": "DatasetReference",
									"parameters": {
										"Domain": {
											"value": "chakri.database.windows.net",
											"type": "Expression"
										},
										"Database": {
											"value": "@item().TABLE_CATALOG",
											"type": "Expression"
										},
										"Username": {
											"value": "@pipeline().parameters.username",
											"type": "Expression"
										},
										"Password": {
											"value": "@pipeline().parameters.Password",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Dynamic_output",
									"type": "DatasetReference",
									"parameters": {
										"Container_output": "chakri",
										"Directory_output": "Bulk_copied_folder",
										"File_output": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Domain": {
				"type": "String"
			},
			"Database": {
				"type": "String"
			},
			"username": {
				"type": "String"
			},
			"Password": {
				"type": "String"
			},
			"Query": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-04-21T04:59:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}